pipeline/copydatapipeline.json
{
	"name": "copydatapipeline",
	"properties": {
		"activities": [
			{
				"name": "getmetainformation",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[getmetainfo]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "metatable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachIteration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getmetainformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getmetainformation').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Setstoragecontainer",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "storagecontainer",
								"value": {
									"value": "@item().storagecontainer",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setstoragefolder",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "storagefolder",
								"value": {
									"value": "@item().storagefolder",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setstoragefile",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "storagefile",
								"value": {
									"value": "@item().storagefile",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setdlscontainer",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "dlscontainer",
								"value": {
									"value": "@item().dlscontainer",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setdlsfolder",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "dlsfolder",
								"value": {
									"value": "@item().dlsfolder",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setdlsfile",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "dlsfile",
								"value": {
									"value": "@item().dlsfile",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setschemaname",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "schemaname",
								"value": {
									"value": "@item().schemaname",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Settablename",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tablename",
								"value": {
									"value": "@item().tablename",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopydatatoDLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Setstoragefile",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setstoragecontainer",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setstoragefolder",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setdlsfolder",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setdlsfile",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setdlscontainer",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Settablename",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setschemaname",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						},
						{
							"name": "CopydatatoSQL ",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Setstoragecontainer",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setstoragefolder",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setdlsfolder",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setdlsfile",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setstoragefile",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setdlscontainer",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Settablename",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Setschemaname",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"variables": {
			"storagecontainer": {
				"type": "String"
			},
			"storagefolder": {
				"type": "String"
			},
			"storagefile": {
				"type": "String"
			},
			"dlscontainer": {
				"type": "String"
			},
			"dlsfolder": {
				"type": "String"
			},
			"dlsfile": {
				"type": "String"
			},
			"schemaname": {
				"type": "String"
			},
			"tablename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}